<link rel="stylesheet" href="/stylesheets/footer.css">
                </div>
            </div>

            <div id="wrapper-footer" class="row">
                <div class="col-md-4 col-md-offset-4 info">
                    <div>
                        <span class="glyphicon glyphicon-map-marker"></span>
                    </div>
                    <div>
                        <p>64002 雲林縣斗六市大學路3段123號</p>
                        <p>Tel: +886-5-534-2601</p>
                        <p>Fax: +886-5-532-1719</p>
                    </div>
                </div>
                <div class="col-md-12 copyright">
                    PLWeb 2.0 Copyright © 國立雲林科技大學
                </div>
            </div>
              
        </div>
    </body>
</html>  