<% include ./partials/header %>

<link rel="stylesheet" href="/stylesheets/aboutus.css">

<div class="col-md-12">
    <div class="col-md-6">
        <img src="https://upload.cc/i1/2018/05/07/EOXBly.jpg">
    </div>
    <div class="col-md-6">
        <h2>2018年於雲科大資管系創立PLSHOP</h2>
        <hr>
        <div class="col-md-12 intro">
            首創果粒茶飲系列，以飽滿扎實的果肉口感席捲全台，旋即成為茶飲界新風潮。爾後推出無添加色素的黃金波霸珍珠，搭配濃醇的拿鐵系列茶飲，更成為人氣話題飲品。
            品牌以穩健的步伐持續拓展門店，於台灣紮穩根基後，2017年帶著鮮活的果粒飲品，跨足海外，分享麻古的果漾．輕生活體驗。
        </div>
    </div>
</div>

<% include ./partials/footer %>