<% include ./partials/header %>

<div style="margin-bottom: 10px;" class="col-md-12">
    <div class="col-md-4">
        <h3>台灣春冬季茶葉</h2>
    </div>
    <div class="col-md-4">
        <h3>無色素黃金波霸珍珠</h2>
    </div>
    <div class="col-md-4">
        <h3>新鮮天然水果</h2>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-4">
        <img src="https://upload.cc/i1/2018/05/07/zdBwlt.jpg">
    </div>
    <div class="col-md-4">
        <img src="https://upload.cc/i1/2018/05/07/fj6VTc.jpg">
    </div>
    <div class="col-md-4">
        <img src="https://upload.cc/i1/2018/05/07/ik4ze6.jpg">
    </div>
</div>

<% include ./partials/footer %>